.rectangle{
    width:1400px;
    height:200px;
    background-color:rgb(255, 193, 58);
}
.square{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 153, 0);
    position: relative;
    flex-direction: column;
    left: 50px;
}
.bluesquare{
    width: 150px;
    height: 150px;
    background-color: rgb(78, 169, 221);
    position: relative;
    bottom: 60px;
    left: 50px;
}
.redsquare{
    width: 150px;
    height: 150px;
    background-color: rgb(245, 53, 40);
    position: relative;
    bottom: 100px;
    left: 400px;
}
.yellowsquare{
    width: 150px;
    height: 150px;
    background-color: rgb(243, 209, 15);
    position: relative;
    bottom: 60px;
    left: 50px;
}
.bluesecondsquare{
    width: 150px;
    height: 150px;
    background-color: rgb(78, 169, 221);
    position: relative;
    bottom: 60px;
    left: 50px;
}
.redsecondsquare{
    width: 150px;
    height: 150px;
    background-color: rgb(238, 76, 36);
    position: relative;
    bottom: 60px;
    left: 50px;
}
.yellowsecondsquare{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 179, 14);
    position: relative;
    bottom: 60px;
    left: 50px;
}